input {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 100%;  
    background-color: #1897f9;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    font-size: 100%;
}

.qcm {
    background-color: #4273bb;
    color: #ffffff;
    min-height: 140px;
}

input:hover{
    background-color: #4eb2ff;
    cursor: pointer;
}

p {
    top: 100%;
    font-size: 500%;
    text-align: center;
}

#nbLance {
    margin-top: 8%;
    font-size: 100%;
}

.HautDePage {
    background-color: #00183b;
    font-size: 400%;
    color: #ffffff;
    border-bottom: 2px solid black;
    text-align: center;
}

.contenant {
    border: 2px solid black;
    border-radius: 5px;
    background-color:bisque;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    height: 80%;
    max-height: 401px;
}

.listpoint {
    width: 30%;
}

#col {
    background-color: #383838;
    text-align: center;
    font-size: 100%;
    color: #ffffff;
    border-right: 2px solid black;
    height: 100%;
}

.rotated{
    height: auto;
    width: 100%;
    animation: rotate;
    object-fit: cover;
    transition: all 250ms ease-out;
    transform: rotate3d(1,0,0,89.8deg);
}

.piece {
    height: 100%;
    width: 100%;
    transition: all 250ms ease-out;
}

#idImg {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}