html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.full {
    height: 100%;
    width: 100%;
}

.lancer {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 100%;  
    background-color: #1897f9;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    font-size: 100%;
}

.qcm {
    background-color: #1d2f95;
    color: #ffffff;
    min-height: 140px;
    transition: all 1500ms ease-in-out;
}

input:hover:not(.disabled){
    background-color: #73bef8;
    cursor: pointer;
}

.title {
    top: 100%;
    font-size: 500%;
    text-align: center;
}

#nbLance {
    margin-top: 8%;
    font-size: 100%;
}

.HautDePage {
    background-color: #00183b;
    font-size: 400%;
    color: #ffffff;
    text-align: center;
}

.contenant {
    border: 2px solid black;
    border-radius: 5px;
    background-color:bisque;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    height: 80%;
    max-height: 401px;
}

.listpoint {
    width: 30%;
}

#col {
    background-color: #383838;
    text-align: center;
    font-size: 100%;
    color: #ffffff;
    border-right: 2px solid black;
    height: 100%;
}

.rotated{
    height: auto;
    width: 100%;
    animation: rotate;
    object-fit: cover;
    transition: all 250ms ease-out;
    transform: rotate3d(1,0,0,89.8deg);
}

.piece {
    height: 100%;
    width: 100%;
    transition: all 250ms ease-out;
}

#idImg {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}

.colSansPadding{
    padding:0;
}

.centre {
    text-align: center;
}

.disabled {
    background-color: #a7d6fa;
    cursor: not-allowed;
    border-radius: 5px;
    font-size: 100%;  
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    font-size: 100%;
}